<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Template</ion-title>
  </ion-navbar>
</ion-header>
<ion-footer>
     <button class ="templatebtn"ion-button block (click)="gotoTempGet()" sticky><b>Create Template</b></button>
</ion-footer>
<ion-content>
    <ion-card  *ngFor="let items of item">
    <ion-item class="items">
      <ion-thumbnail item-left>
      <img src="{{items.picture}}"></ion-thumbnail>
      <h2 style="color:#EBC137">{{items.itemName}}</h2>
      <h3 style="color:white">{{items.itemDescription}}</h3>
      
            <h5><button class="btn" ion-button icon-only (click)="sendtoTempGet(items.itemID, items.itemName, items.itemDescription, items.itemPrice, items.itemQuantityStored, items.picture, items.visible)"*ngIf="!items.visible">
              Add</button></h5>
              <h5><button class="btn1" ion-button icon-only (click)="sendtoTempGet(items.itemID, items.itemName, items.itemDescription, items.itemPrice, items.itemQuantityStored, items.picture, items.visible)"*ngIf="items.visible">
              Remove</button></h5>
    </ion-item>
  </ion-card>
  
</ion-content>