<ion-header>
  <ion-navbar>
   
    <ion-title>Order</ion-title>
  </ion-navbar>
</ion-header>
<ion-footer>
     <button class="orderbtn" ion-button block (tap)="gotoCart()" sticky><ion-icon name="cart" class="orderIcon"></ion-icon>TO CART</button>
</ion-footer>
<ion-content>
  <ion-card  *ngFor="let items of item">
    <ion-item style="background-color: #0d33bc" class="list">
      <ion-thumbnail item-left>
      <img src="{{items.picture}}"></ion-thumbnail>
      <h2 style="color: #EBC137; width: 100%; font-size: 16.2px"><b>{{items.itemName}}</b></h2>
      <h3 style="color: white; width: 100%">{{items.itemDescription}}</h3>
      <h2 style="color: white; width: 100%"><b>{{items.itemPrice | currency:'PHP':true:'1.2-2'}}</b></h2>
            <h5><button ion-button class="button" (tap)="addCart(items.itemID, items.itemName, items.itemDescription, items.itemPrice, items.itemQuantityStored, items.picture, items.visible)" *ngIf="!items.visible">
               Add</button>
              <button ion-button class="button1" color="danger" (tap)="addCart(items.itemID, items.itemName, items.itemDescription, items.itemPrice, items.itemQuantityStored, items.picture, items.visible)" *ngIf="items.visible">
              Remove</button></h5> 
    </ion-item>
  </ion-card>
  
</ion-content>