<ion-header>
  <ion-navbar>
    <ion-title>Order</ion-title>
  </ion-navbar>
</ion-header>
<ion-footer>
     <button ion-button block (click)="gotoCart()" sticky><ion-icon name="cart" class="orderIcon"></ion-icon>TO CART</button>
</ion-footer>
<ion-content>
  <ion-list *ngFor="let items of item">
    <ion-item>
      <ion-thumbnail item-left>
      <img src="{{items.picture}}"></ion-thumbnail>
      <h2>{{items.itemName}}</h2>
      <h3>{{items.itemDescription}}</h3>
      <h3>₱{{items.itemPrice}}</h3>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h5><button ion-button icon-only (click)="addCart(items.itemID, items.itemName, items.itemDescription, items.itemPrice, items.itemQuantityStored, items.picture, items.visible)">
              <ion-icon name="add" *ngIf="!items.visible"></ion-icon>
              <ion-icon name="remove" *ngIf="items.visible"></ion-icon>
            </button></h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  
</ion-content>