$background-color: #0d33bc;

page-order {
    color: $background-color;
}

.orderIcon{
    font-size: 35px;
}

.fixed-outside {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

