page-category{
        .card-background-page {

            ion-card.dry {
                position: relative;
                text-align: center;
                background-color:red;//#7de550 #AAC4D1
            }
            ion-card.bev {
                position: relative;
                text-align: center;
                background-color:#2A5B84;
            }
            ion-card.dairy {
                position: relative;
                text-align: center;
                background-color:#FEFAE1;
            }
            ion-card.toi {
                position: relative;
                text-align: center;
                background-color:#FEFAE1;
            }
            ion-card.cond {
                position: relative;
                text-align: center;
                background-color:#EBC137;//2A5B84
            }
            ion-card.misc {
                position: relative;
                text-align: center;
                background-color:red;
            }

            .card-title {
                position: relative;
                top: 0;
                left:0;//-90px
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }

            .card-title2 {
                position: relative;
                top: 0;
                left:0;//-30px
                font-size: 1.5em;
                width: 100%;
               // font-weight: bold;
                font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }
            .card-title3 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }
            .card-title4 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: blue;
            }
            .card-title5 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: blue;
            }
            .card-title6 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }
             

    }
    img{
        position:relative;
        height:100%;
        width:50%;
        left:70px;
    }

    
    
}