page-forgotpass {

    #user
    { 
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 8px; 
    }

    #code
    { 
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px; 
    }

   ion-input
   {
       font-size: 12px;
   }
}