page-cart {
    ion-thumbnail{
        float:left;
        height:100px;
        width:100px;
    }
    img{
        height:100px;
        width:100px;
    }
    ion-icon.big {
        font-size: 50px; //Preferred size here
    }
     .content{
        background: #02359d;
    }
    .toolbar-title {
        margin-top:5px;
        color : #02359d;
    }
    .menu-inner .item {
        background-color: #02359d;
        color:white;
        
    }
    .menu-inner > ion-header, 
    .menu-inner > ion-content, 
    .menu-inner > ion-footer {
       
        background-color: #02359d; 
    }
    .input-wrapper{
        border-style:none;
    } 
    ion-input{
        float:left;
    }
    ion-card-content{
        //margin-top:10px;
        color:white;
        background-color:#0d33bc;
        
    }
    ion-card{
        position:relative;
    }
    h3{
        position:relative;
        top:20px;
        right:30px;
        white-space: nowrap;
        color:white;
    }
    .qty
    {
        position: relative;
        top:30px;
        left:20px;
        color:white;
    }
    .in
    {
        position: relative;
        top:0px;
        left:50px;
    }
     .name
    {
        position: relative;
        top:10px;
        left:10px;
        color:#EBC137;
    }
    .total{
        color:white;
        float:right;
        position:relative;
        top:-20px;
        right:15px;
    }
    #inp
    { 
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 8px; 
    }
    
    @media(max-width:414px){
        .icon{
            font-size: 35px;
            position:absolute;
            top:5px;
            right:5px;
        }
    }
    @media(min-width:500px){
        .icon{
            font-size: 35px;
            position:relative;
            top:-90px;
            left:170px;
        }
    }
    
    .iconadd{
        font-size: 20px;
        position:relative;
        top:-42px;
        left:10px;
    
    }
    .iconremove{
        font-size: 20px;
        position:relative;
        top:-42px;
        left:10px;
    }
     .orderbtn{
        
        background-color: #f1d248;
        border: 2px solid #0d33bc;
        color:#0d33bc;
        padding: 25px;
        width:100%;
        border-radius: 13px;
        position:relative;
        left:0;
    }
    
}

