page-cart {
    
    ion-thumbnail{
        float:left;
        height:100px;
        width:100px;
    }
    img{
        height:100px;
        width:100px;
    }
     .content{
        background: #E8E8E8;
    }
    .toolbar-title {
        color : white;
    }
   

    ion-input{
        float:left;
    }
    ion-card-content{
        //margin-top:10px;
        color:#0847ad;
        background-color:white;
    
        
    }
    ion-card{
        position:relative;
        background-color:#E8E8E8;
    }
   
    
    @media(max-width:414px){
        .icon{
            font-size: 45px;
            position:absolute;
            top:5px;
            right:5px;
        }
        .iconadd{
            font-size: 30px;
            position:absolute;
            top:60px;
            right:110px;
    
        }
        .iconremove{
            font-size: 30px;
            position:absolute;
            top:60px;
            right:80px;
        }
         h3{
            font-size:20px;
            position:absolute;
            top:10px;
            right:30px;
            white-space: nowrap;
            color:#0847ad;
        }
        .qty
        {
           
            position: absolute;
            top:5px;
            left:20px;
            color:#0847ad;
        }
        .in
        {
            
            position: relative;
            top:0px;
            left:50px;
        }
        .name
        {
            font-size:23px;
            position: relative;
            top:10px;
            left:10px;
            color:#0847ad;
        }
        .total{
            color:#0847ad;
            float:right;
            position:relative;
            top:-20px;
            right:15px;
        }
        #inp
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
             width:90%;
            margin-left:17px;
        }
        #inparea
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
            width:90%;
            margin-left:17px;
        }
        ion-textarea{
            height:50px;
        }
    }
    
    @media(max-width:375px){
        .icon{
            font-size: 45px;
            position:absolute;
            top:5px;
            right:5px;
        }
        .iconadd{
            font-size: 30px;
            position:relative;
            top:-18px;
            left:30px;
    
        }
        .iconremove{
            font-size: 30px;
            position:relative;
            top:-18px;
            left:35px;
        }
         h3{
            font-size: 30px;
            position:relative;
            top:-10px;
            right:-20px;
            white-space: nowrap;
            color:#0847ad;
            float:right;
            
        }
       
        .qty
        {
            font-size:20px;
            position: relative;
            top:10px;
            left:20px;
            color:#0847ad;
        }
        .in
        {
            font-size:20px;
            position: relative;
            top:-28px;
            left:60px;
        }
        .name
        {
            font-size:25px; 
            position: relative;
            top:-20px;
            left:-30px;
            color:#EBC137;
            overflow:hidden;
        }
        .total{
            color:#0847ad;
            float:right;
            position:relative;
            top:-20px;
            right:15px;
        }
        #inp
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
             width:90%;
            margin-left:17px;
        }
         #inparea
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
            width:90%;
            margin-left:17px;
        }
        ion-textarea{
            height:50px;
        }
       
    }
    @media(max-width:360){
        .icon{
            font-size: 45px;
            position:absolute;
            top:5px;
            right:5px;
        }
        .iconadd{
            font-size: 30px;
            position:absolute;
            top:60px;
            right:110px;
    
        }
        .iconremove{
            font-size: 30px;
            position:absolute;
            top:60px;
            right:80px;
        }
         h3{
            font-size:20px;
            position:absolute;
            top:10px;
            right:30px;
            white-space: nowrap;
            color:#0847ad;
        }
        .qty
        {
           
            position: absolute;
            top:5px;
            left:20px;
            color:#0847ad;
        }
        .in
        {
            
            position: relative;
            top:0px;
            left:50px;
        }
        .name
        {
            font-size:23px;
            position: relative;
            top:10px;
            left:10px;
            color:#0847ad;
        }
        .total{
            color:#0847ad;
            float:right;
            position:relative;
            top:-20px;
            right:15px;
        }
        #inp
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
             width:90%;
            margin-left:17px;
        }
        #inparea
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
            width:90%;
            margin-left:17px;
        }
        ion-textarea{
            height:50px;
        }
    }
    @media(max-width:325px){
        .icon{
            font-size: 25px;
            position:absolute;
            top:5px;
            right:5px;
        }
        .iconadd{
            font-size: 20px;
            position:relative;
            top:-22px;
            left:20px;
    
        }
        .iconremove{
            font-size: 20px;
            position:relative;
            top:-22px;
            left:20px;
        }
         h3{
            position:relative;
            top:-20px;
            float:right;
            white-space: nowrap;
            color:#0847ad;
        }
        .qty
        {
            font-size:15px;
            position: relative;
            top:0px;
            left:20px;
            color:#0847ad;
        }
        .in
        {
            position: relative;
            top:-38px;
            left:55px;
        }
        .name
        {
            position: relative;
            font-size:25px;
            top:-20px;
            left:-35px;
            color:#0847ad;
           
        }
        .total{
            color:#0847ad;
            float:right;
            position:relative;
            top:-20px;
            right:15px;
        }
        #inparea
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
            width:90%;
            margin-left:17px;
        }
        ion-textarea{
            height:40px;
        }
      
        #inp
        { 
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 10px;
            margin-bottom: 8px; 
            margin-left:17px;
            width:90%;
        }
       
        img{
            height:90px;
            width:100px;
        }
    }
    /*
    @media(min-width:500px){
        .icon{
            font-size: 35px;
            position:relative;
            top:-90px;
            left:170px;
        }
        .iconadd{
            font-size: 30px;
            position:absolute;
            top:-42px;
            left:10px;
    
        }
        .iconremove{
            font-size: 30px;
            position:absolute;
            top:-42px;
            left:10px;
        }
    }*/
     .orderbtn{
        
        background-color: #0d33bc;
        border: 2px solid white;
        color:white;
        padding: 25px;
        width:100%;
        border-radius: 13px;
        position:relative;
        left:0;
    }
    
}

page-category{
        .card-background-page {

            ion-card.dry {
                position: relative;
                text-align: center;
                background-color:red;//#7de550 #AAC4D1
            }
            ion-card.bev {
                position: relative;
                text-align: center;
                background-color:#2A5B84;
            }
            ion-card.dairy {
                position: relative;
                text-align: center;
                background-color:#FEFAE1;
            }
            ion-card.toi {
                position: relative;
                text-align: center;
                background-color:#FEFAE1;
            }
            ion-card.cond {
                position: relative;
                text-align: center;
                background-color:#EBC137;//2A5B84
            }
            ion-card.misc {
                position: relative;
                text-align: center;
                background-color:red;
            }

            .card-title {
                position: relative;
                top: 0;
                left:0;//-90px
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }

            .card-title2 {
                position: relative;
                top: 0;
                left:0;//-30px
                font-size: 1.5em;
                width: 100%;
               // font-weight: bold;
                font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }
            .card-title3 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }
            .card-title4 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: blue;
            }
            .card-title5 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: blue;
            }
            .card-title6 {
                position: relative;
                top: 0;
                left:0;
                font-size: 1.5em;
                width: 100%;
                //font-weight: bold;
                 font-family: "Courier New", Courier, monospace;
                color: #FEFAE1;
            }
             

    }
    img{
        position:relative;
        height:100%;
        width:50%;
        left:70px;
    }

    
    
}