<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="big" name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>
<ion-footer>
  
     <button ion-button block class="orderbtn" (click)="addOrder(delLocation, packaging, delTime, remarks, coh)" sticky><h2>Order</h2></button>
   
  
</ion-footer>

<ion-content>
  <ion-card *ngFor="let item of orderData" no-lines>
      <ion-card-content>
        <ion-thumbnail item-left>
        <img src="{{item.picture}}"></ion-thumbnail>
        <h2 class="qty">Qty</h2>&nbsp;&emsp;<ion-input class="in" #in (change)="change(item.itemID,item.subTotal,item.itemPrice,in)" style="width: 55px" type="text" value="1" [(ngModel)]="item.quantity" required></ion-input><!--min="1" max="999"-->
        <ion-icon (click)="addQty(item.itemID,item.subTotal,item.itemPrice,in,item.quantity)" class="iconadd" name="add-circle"></ion-icon>
        <ion-icon (click)="removeQty(item.itemID,item.subTotal,item.itemPrice,in,item.quantity)"class="iconremove" name="remove-circle"></ion-icon>
        <h2 class="name">{{item.itemName}}</h2>
         <h3>Subtotal:{{item.subTotal | currency:'PHP':true:'1.2-2'}}&nbsp;</h3>
        <ion-icon (click)="remove(item.itemID, item.itemName, item.itemDescription, item.itemPrice, item.itemQuantityStored, item.picture, item.visible)" class="icon" name="close-circle"></ion-icon>
       </ion-card-content>
  </ion-card>
  <br>
  <h2 *ngIf="withfee" class="total">Delivery fee:{{fee | currency:'PHP':true:'1.2-2'}}</h2>
  <h2 class="total">Total{{with}}:{{totalcount | currency:'PHP':true:'1.2-2'}}</h2>
  <br><br>
  
  <ion-list>
    <ion-item id="inp">
      <ion-label color="black" stacked>Location of Delivery</ion-label>
      <ion-textarea class="inp"type="text" [(ngModel)]="delLocation"></ion-textarea>
    </ion-item>
    <ion-item id="inp">
      <ion-label>Packaging</ion-label>
        <ion-select [(ngModel)]="packaging">
          <ion-option value="Plastic" selected>Plastic</ion-option>
          <ion-option value="Box">Boxed</ion-option>
        </ion-select>
    </ion-item>
    <ion-item id="inp">
      <ion-label color="black" stacked>Preferred Delivery Time</ion-label>
      <ion-input type="text" [(ngModel)]="delTime"></ion-input>
    </ion-item>
    <ion-item id="inp">
      <ion-label color="black" stacked>Remarks</ion-label>
      <ion-textarea type="text" [(ngModel)]="remarks"></ion-textarea>
    </ion-item>
    <ion-item id="inp">
      <ion-label color="black" stacked>Cash on Hand</ion-label>
      <ion-input type="number" [(ngModel)]="coh" min="1"></ion-input>
    </ion-item>
    
  </ion-list>


</ion-content>