
page-history, page-modal {
        ion-icon.big {
        font-size: 50px; //Preferred size here
    }
    .content{
       background: #02359d;//#ffff7f //#3232ff
    }
    .toolbar-title {
        
        color : #02359d;
    }
    
    .input-wrapper{
        border-style:none;
    }  
    ion-item{
        background-color:#02359d;
    }
    ion-card {
        background-color:#02359d;
        position: relative;
    }
    ion-card-header{
        color:yellow;
        background-color:#ffff4c;
    }
    ion-card-content{
        color:white;
        background-color:#02359d;//#02359d
    }
    ion-col{
        color:white;
    }
    b{
        float:right;
        font-size:18px;
        color:yellow;
    }  
}
page-history{
    button{
        float:right;
        size:5px;
        color:red;
    }
    .view{
        position:relative;
        top:-15px;
        left:10px;
    }

}
page-modal {
        ion-icon.big {
        font-size: 40px; //Preferred size here
    }
    ion-toolbar{
        background:#02359d;
    }
    .myColor {
        background-color: #f4f4f4;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
    }
  
}
/*
page-cart{
    ion-icon.big {
        font-size: 50px; //Preferred size here
    }
     .content{
        background: #02359d;
    }
    .toolbar-title {
        margin-top:20px;
        color : #02359d;
    }
    .menu-inner .item {
        background-color: #02359d;
        color:white;
        
    }
    .menu-inner > ion-header, 
    .menu-inner > ion-content, 
    .menu-inner > ion-footer {
       
        background-color: #02359d; 
    }
    .input-wrapper{
        border-style:none;
    }    
}
*/