<ion-header>
  <ion-navbar align-title="center">
    <button ion-button clear  (click)="dismiss()">
       <ion-icon class="big" name="arrow-back"></ion-icon>
    </button>
     <ion-title>Purchase History</ion-title>
  </ion-navbar>
</ion-header>
<ion-footer>
      <button ion-button block color="back" class="orderbtn" (click)="order()">Re-Order</button>
</ion-footer>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>Item ID</ion-col>
            <ion-col>Description</ion-col>
            <!--<ion-col>Price</ion-col>-->
            <ion-col>Amount</ion-col>
            <!--<ion-col>Qty</ion-col>-->
        </ion-row>
        <ion-row *ngFor="let detail of details">
            <ion-col>{{detail.itemID}}</ion-col>
            <ion-col>{{detail.itemName}} {{detail.itemDescription}}</ion-col> 
           <!-- <ion-col>{{detail.ordetPrice | currency:'PHP':true:'1.2-2'}}</ion-col>-->
            <ion-col>{{detail.ordetSubtotal | currency:'PHP':true:'1.2-2'}}</ion-col>                    
           <!-- <ion-col>{{detail.ordetQuantity}}</ion-col>-->
        </ion-row>
        <ion-row justify-content-end>
            <ion-col col-8>TOTAL: <b>{{total | currency:'PHP':true:'1.2-2'}}</b></ion-col>
        </ion-row>
        <ion-row justify-content-start *ngFor="let customers of customer" >
            <ion-col>Customer Address: {{customers.address}}, Barangay {{customers.barangay}}</ion-col>    
        </ion-row>
         
        
        <ion-row justify-content-start>
            <ion-col>Delivery Address: {{location}}</ion-col>    
        </ion-row>
         <ion-row justify-content-start>
            <ion-col>Delivery Date: {{delDate}}</ion-col>
         </ion-row>
        <ion-card class="stat">
            <ion-col color="danger">{{note}}. For inquiries, please contact: 09276405170.</ion-col>
        </ion-card>
    </ion-grid>    
</ion-content>