page-tempview{
        ion-card {
            background-color:#02359d;
            position: relative;
        }
        ion-card-content{
            color:#02359d;
            background-color:#E8E8E8;//#02359d
        }
}