page-tempview{
        ion-card {
            background-color:#02359d;
            position: relative;
        }
        ion-card-content{
            color:white;
            background-color:#0d33bc;//#02359d
        }
}