.deletebtn{
    background-color: #fcd02f;
    color: #0d33bc;
    border: 2px solid #0d33bc;
    border-radius: 12px;
    padding: 20px;
}

.cartbtn{
    background-color: #fcd02f;
    color: #0d33bc;
    border: 2px solid #0d33bc;
    border-radius: 12px;
    padding: 20px;
}