page-seetemp{
    .deletebtn{
         background-color: #2d42e5;//#f1d248
        border: 2px solid #E8E8E8;
        color:#E8E8E8;
        border-radius: 12px;
        padding: 20px;
    }

    .cartbtn{
         background-color: #2d42e5;//#f1d248
        border: 2px solid #E8E8E8;
        color:#E8E8E8;
        border-radius: 12px;
        padding: 20px;
    }
    ion-card {
        background-color:#E8E8E8;
        position: relative;
    }
    ion-card-content{
        color:#02359d;
        background-color:#E8E8E8;//#02359d
        
    }
    img{
        height:90px;
        width:100px;
    }
    ion-thumbnail{
        float:left;
        height:100px;
        width:100px;
    }
    h1{
        position:relative;
        left:10px;
    }
    h3{
        position:relative;
        left:10px;
    }
}